@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

@font-face {
    font-family: zoomeRoughBold;
    src: url(../font/ZuumeRough-Bold.ttf);
}
@font-face {
    font-family: poppinsMedium;
    src: url(../font/Poppins-Medium.ttf);
}

body {
    font-family: poppinsMedium;
    color: #394059;
    background-color: #fffbe7;
}

h1, h2, h3, h4, h5, h6 {
    width: 100%;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    color: #394059;
    font-family: zoomeRoughBold;
}
p {
    text-align: center;
    color: #394059;
}
input {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.container hr {
    border-top: 2px solid #786E5E;
    margin-top: 65px;
    margin-bottom: 65px;
}
.btn-secondary {  
    background-color: #786E5E;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.btn-muted {
    color: #394059;
}
.bg-skyblue {
    background-color: #c9ba65;
}
.nav>li>a {
    color: #566e36;
}
.active {
    background-color: #566e36 !important;
}
.std-color {
    color: #394059;
}
.achievements img {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* Min Medium */
@media (min-width: 768px) {
    .achievements img {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
.rating img {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.services img {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (min-width: 992px) {
    .services img {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
.booking-font {
    font-size: 24px;
    text-align: left;
}
.facebookIcon a:hover {
    color: #3b5998;
}
.instagramIcon a:hover {
    color: #bc2a8d;
}
.twitterIcon a:hover {
    color:#1DA1F2;
}
/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/